.header{
    height: 10vh;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(118, 118, 118);
}

.header img{
    height: 5vh;
    width: auto;
    margin-left: 2rem;

}

.header img:active,
.header img:hover{
    cursor: pointer;
}

